{{ asset_add('swiper.css', 'defr.module.swiper::css/swiper.css') }}
{{ asset_style('swiper.css') }}

{{ asset_add('scripts.js', 'defr.module.swiper::js/swiper.js') }}
{{ asset_add('scripts.js', 'defr.module.swiper::js/swiper-init.js') }}

<div class="swiper-container swiper-container-{{ slideshow.slug }}">

    <div class="swiper-wrapper">
        {% for slide in slideshow.slides %}
            <div class="swiper-slide">
                {% if slide.name %}
                    <div class="slide-name">{{ slide.name }}</div>
                {% endif %}
                {% if slide.image %}
                    <img src="{{ slide.image.url }}" alt="{{ slide.name }}">
                {% endif %}
            </div>
        {% endfor %}
    </div>

    {% if slideshow.config.pagination %}
        <div class="swiper-pagination"></div>
    {% endif %}

    {% if slideshow.config.navigation %}
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    {% endif %}

    {% if slideshow.config.scrollbar %}
        <div class="swiper-scrollbar"></div>
    {% endif %}

</div>
