<div class="modal-header">
    <button class="close" data-dismiss="modal">
        <span>&times;</span>
    </button>
    <h4 class="modal-title">{{ trans('module::message.choose_slideshow') }}</h4>
</div>

<div class="modal-body">

    {% include "streams::modals/filter" %}

    {% if not slideshows.isEmpty() %}
        <ul class="nav nav-pills nav-stacked">
            {% for slideshow in slideshows %}
                <li class="nav-item">
                    <a href="{{ url_to('admin/swiper/slides/' ~ slideshow.slug) }}" class="nav-link">
                        <strong>{{ slideshow.name }}</strong>
                        <br>
                        <small>{{ slideshow.content }}</small>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        {{ trans('streams::message.no_results') }}
    {% endif %}
</div>
